/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    background-color: #042F39; /* Dark color */
    line-height: 1.6;
}

/* Header */
header {
    background: #042F39; /* Dark color */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 1.5em;
    font-weight: bold;
}

header nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #0D98BA; /* Light color */
}

header .cta-button {
    background-color: #0D98BA; /* Light color */
    color: #042F39;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

header .cta-button:hover {
    background-color: #0AB8DA; /* Slightly lighter */
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Banner Section */
.banner {
    background: url('images/banner_background.jpg') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
}

.banner-content {
    max-width: 600px;
    margin: auto;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

.banner-content h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

.banner-content p {
    font-size: 1.2em;
    margin-bottom: 1em;
}

/* Paragraphs */
.banner-content p,
.about-content p,
.contact-content p {
    margin-bottom: 1em;
    line-height: 1.8;
    color: #E0F7FA;
    font-style: italic;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.image-container img {
    width: 150px;
    height: auto;
    border-radius: 5px;
}

.email-signup {
    margin-top: 20px;
}

.email-signup input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 200px;
}

.email-signup .learn-more {
    background-color: #0D98BA;
    color: #042F39;
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

email-signup .learn-more:hover {
    background-color: #0AB8DA;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Content Sections */
section {
    padding: 3em 2em;
    max-width: 1000px;
    margin: auto;
    text-align: center;
    background: #042F39;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section h2 {
    margin-bottom: 20px;
    color: #0D98BA;
    font-size: 2em;
}

footer {
    background-color: #042F39;
    color: #fff;
    text-align: center;
    padding: 1em;
}
